<form action="/qb/customer/add" method="POST">
    <div class="form-group">
      <label for="first name">Account Holder Name:</label>
      <input type="text" class="form-control" name="accname" placeholder="Enter Account Holder Name">
    </div>
    <div class="form-group">
      <label for="first name">App name</label>
      <input type="text" class="form-control" name="appname" placeholder="Enter App Name">
    </div>
    <div class="form-group">
      <label for="first name">Customer Name:</label>
      <input type="text" class="form-control" id="fname" name="DisplayName" placeholder="Enter Customer Name">
    </div>
     <div class="form-group">
      <label for="name">Company Name:</label>
      <input type="text" class="form-control" name="CompanyName" placeholder="Enter Company Name">
    </div>
    <div class="form-group">
       <label for="name">Address:</label>
       <input type="text" class="form-control" id="line1" name="line1" placeholder="Enter Address">
       <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
       <input type="text" class="form-control" id="country" name="country" placeholder="Enter Country">
       <input type="text" class="form-control" id="code" name="code" placeholder="Enter Postal Code">
    </div>
    <div class="form-group">
      <label for="name">Email Address:</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email Address">
    </div>
    <div class="form-group">
       <label for="name">Phone Number:</label>
       <input type="text" class="form-control" id="number" name="number" placeholder="Enter Email Address">
    </div>
    <button type="submit" class="btn btn-primary ">Submit</button>
</form>
